<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Friend</title>
    </head>
    <body>
        {% for friend in person %}
        <div class="panel panel-default">
            <ul>
                <li>{{ friend['first_name'] }}</li>
                <li>{{ friend['last_name'] }}</li>
                <li>{{ friend['email'] }}</li>
            </ul>
        </div>
        {% endfor %}
        <form name="editarea" action='/friends/{{ person[0]['id'] }}' method="POST">
            <label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label>
            <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
            <label for="email">Email: <input type="text" name="email" id="email"></label>
            <input type="submit" name="submit" value="Update" class="btn btn-default navbar-btn">
        </form>
    </body>
</html>
