<html>
    <head>
        <meta charset="utf-8">
        <title>Full Friends</title>
    </head>
    <body>
        <div id="wrapper">
            {% for friend in friends: %}
            <div class="panel panel-default">
            <div class="panel-heading"> Friend </div>
            <table class="table">
                <ul>
                    <li>{{ friend['first_name'] }}</li>
                    <li>{{ friend['last_name'] }}</li>
                    <li>{{ friend['email'] }}</li>
                    <li>
                        <a href="/friends/{{ friend['id'] }}/edit"><button class="btn btn-default">EDIT</button></a>
                    </li>
                    <li><form action="/friends/{{ friend['id'] }}/delete" method="POST" class="form-horizontal">
                        <input type="submit" name="delete" value="Delete" class="btn btn-default navbar-btn">
                    </form></li>
                </ul>
                </td>
            </table>
            </div>
            {% endfor %}
            <h3>Add a Friend</h3>
              <form action='/friends' method='POST'>
                <label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label>
                <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
                <label for="email">Email: <input type="text" name="email" id="email"></label>
                <input type="submit" name="submit" value="Submit" class="btn btn-default navbar-btn">
            </form>
        </div>
    </body>
</html>
